.sidebar {
}

.sidebar.open {
}

.background {
}

.nav {
}

/*Navlink*/
.nav a {
    color: green;
    margin-right: 10px;
}

.nav a:hover {
}

.nav a.active {
    color: #0066cc;
}

.close {
}

.close img {
}
